<section class="promo">
    <div class="promo__dark">
        <div class="subheader">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 offset-md-1">
                        <a class="subheader__logo" href="#"><img src="../../assets/img/logo.png" alt="logo"></a>
                        <div class="subheader__official">Официальный партнер Uber в Москве</div>
                    </div>
    
                    <div class="col-md-2 offset-md-2">
                        <div class="subheader__call">Звоните нам ежедневно</div>
                        <a class="subheader__phone" href="tel:+74955959595">8 495 595·95·95</a>
                    </div>
    
                    <div class="col-md-2">
                        <button class="subheader__btn">ЗАКАЗАТЬ ЗВОНОК</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h1 class="promo__header">КОМПАНИЯ UBER PARTNERS!</h1>
                    <h2 class="promo__subheader">ПРИГЛАШАЕМ ВОДИТЕЛЕЙ! НА СВОЕМ АВТО!</h2>
                    <div class="promo__text">
                        Компания UBER  динамически развивающаяся. Компания на рынке занимает лидирующее место среди<br>
                        таксомоторных компаний, Компания абсолютно прозрачная вы можете контролировать все процессы у себя в личном кабинете.<br>
                        Бонуcная система.Помимо выполненной работы по заказам, компания начисляет бонусы за<br>
                        пиковое время.
                        <br><br>
                        Мы одни из партнеров и зарекомендовали себя как одна из лучших команд в городе Москве.  Водители у нас<br>
                        зарабатывают от 80000- 120000 в месяц.
                    </div>

                    <button class="subheader__btn promo__btn">ОТПРАВИТЬ ЗАЯВКУ!</button>
                </div>
            </div>
        </div>
    </div>
</section>