<section class="promo">
    <div class="promo-dark">
        <div class="subheader">
            <div class="container">
                <div class="subheader-flex">
                    <div class="logo-content">
                        <a class="subheader-logo" href="#"><img src="../../assets/img/logo.png" alt="logo"></a>
                        <div class="subheader-official">Официальный партнер Uber в Москве</div>
                    </div>
    
                    <div class="call-content">
                        <div class="subheader-call">Звоните нам ежедневно</div>
                        <a class="subheader-phone" href="tel:+74955959595">8 495 595·95·95</a>
                    </div>
    
                    <div class="call-btn">
                        <button class="subheader-btn">ЗАКАЗАТЬ ЗВОНОК</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h1 class="promo-header">КОМПАНИЯ UBER PARTNERS!</h1>
                    <h2 class="promo-subheader">ПРИГЛАШАЕМ ВОДИТЕЛЕЙ! НА СВОЕМ АВТО!</h2>
                    <div class="promo-text">
                        Компания UBER  динамически развивающаяся. Компания на рынке занимает лидирующее место среди<br class="promo-br">
                        таксомоторных компаний, Компания абсолютно прозрачная вы можете контролировать все процессы у себя в личном кабинете.<br>
                        Бонуcная система.Помимо выполненной работы по заказам, компания начисляет бонусы за<br class="promo-br">
                        пиковое время.
                        <br><br>
                        Мы одни из партнеров и зарекомендовали себя как одна из лучших команд в городе Москве.  Водители у нас<br class="promo-br">
                        зарабатывают от 80000- 120000 в месяц.
                    </div>

                    <button class="promo-btn">ОТПРАВИТЬ ЗАЯВКУ!</button>
                </div>
            </div>
        </div>
    </div>
</section>